@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: rgb(39, 29, 208);
  background: radial-gradient(circle, rgba(39, 29, 208, 1) 23%, rgba(0, 0, 0, 1) 73%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.days-container button:nth-of-type(7n) {
  border-right: none;
}

.days-container button:nth-last-of-type(-n+7) {
  border-bottom: none;
}